* {
    box-sizing: border-box !important;
  }
  
  body {
    font-family: Roboto, sans-serif !important;
  }
  
  header{
    margin: 0 24px 0 24px;
    background: white;
  }

  p {
    font-family: Roboto, sans-serif !important;
    font-size: 16px !important;
    font-weight: 300;
  }

  h1, h2, h3, h5{
    font-family: Roboto, sans-serif !important;
  }

  h1{
    font-size: 52px !important;
    font-weight: 700 !important;
  }

  h2{
    font-weight: 500 !important;
    font-size: 30px !important;
  }

  h3{
    font-weight: 500 !important;
  }

  h6{
    font-size: 16px !important;
    font-weight: 500 !important;
  }





/* NAVIGATION — DESKTOP */

  .topnav{
    display: none;
  }

  .navbar {
    overflow: hidden;
    background:none;
    border-color: #C4C4C4;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    padding-top: 0.6em;
    padding-bottom: 1em;
    font-size: 18px;
    /* margin-top: -30px; */
  }
  
  .navbar a {
    float: right;
    color: black;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    padding-bottom: 0.5em;
  }

  .logo{
    float: left;
    position: relative;
    max-width: 120px;
    margin-top: 1em;
    z-index: 3;
  }
  
  .navbar ul li{
    list-style: none;
  }

  .dropdown {
    float: right;
    overflow: hidden;
    margin-left: 4em;
  }
  
  .dropdown .dropbtn {
    font-size: 18px;  
    border: none;
    outline: none;
    color: black;
    /* padding-left: 14px 16px; */
    background-color: inherit;
    font: inherit;
    
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    border-bottom: 3px solid red;
    padding-bottom: 0.5em;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 580px;
    left: 0;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
    z-index: 1;
    margin-top: 40px;
  }
  
  .dropdown-content  {
    padding: 1em 3em 1em 3em;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    top: 0;
    width: 210px;
    min-width: 150px;
    padding: 10px;
    background-color: white;
    /* margin: 0 1% 0 1%; */
  }
  
  .column h3{
    font-size: 14px;
  }

  .column a {
    height: 30px;
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 0 0 0 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 1em;
    
  }

  .column hr{
      margin-bottom: 10%;
      width: 100%;
      margin-left: 0%;
      margin: 5px -24px 15px 0px !important;
  }

  .column a:hover{
      border: none;
      font-weight: 500;
  }
/* 
  .column a::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  } */

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  hr{
    bottom: 0.5px solid rgb(172, 171, 171)!important;
    opacity: 0.8 !important;
    margin: 0 !important;
    /* margin: 5px -24px 15px 0px !important; */
  }

  .search-container {
    float: right;
  }
  
  .search-container input[type=text] {
    padding: 6px;
    margin-top: 25px;
    font-size: 16px;
    border: 0.5px solid rgb(198, 198, 198, 0.5);
    font-weight: 300;
    color: black;
  }
  
  .search-container button {
    float: right;
    padding: 0.4em 0.7em;
    margin-top: 25px;
    background: #ddd;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

   .cart button{
    float: right;
    padding: 0.5em 0 0.5em 1em;
    margin-top: 15px;
    font-size: 22px;
    border: none;
    cursor: pointer;
  }

  form {
    margin-block-end: 0;
    margin-left: 1em;
}
  
  .search-container button:hover {
    background: rgb(78, 71, 71);
  }

  .hamburger .one{
        max-width: 32px;
        height: 3px;
        background: black;
        margin: 6px 0;
  }

  .hamburger{
      width: 5%;
      margin: 0;
      display: inline-block;
      visibility: hidden;
  }









  /* BANNERS */

.mySlides{
    display: none;
}

.banner{
    display: flex;
    width: 100%;
    height: auto;
}











/* SHOP BY CATEGORY */

.shop_by_cat_heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.heading{
    flex: 1 1 1;
    text-align: center; 
    justify-content: center;
    padding: 3% 20% 2% 20%;
}

.shop_by_cat_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    /* margin: 1%; */
    text-align: center;
    margin-bottom: 5%;
}

.shop_by_cat_content a{
    margin: 0;
    padding: 0;
}

.child{
    position: relative;
    flex: 1 0 auto;
    max-width: 350px;
    width: 50%;
    padding: 10px;
}

.child img{
  width: 100%;
}

.imgTitle {
    height: 100%;
    width: 100%;
    transition: .5s ease;
    opacity: 1;
    overflow: hidden;
    visibility: visible;
    position: absolute;
    text-align: left;
    display: inline-block;
    top: 0%;
    display: flex;
    align-items: flex-end;
}

.imgTitle:hover{
    opacity: 1;
    background: rgba(255, 255, 255, 0.3);
}

.imgTitle h2{
    color: white;
    margin: 8%;
    line-height: 116%;
}










/* OUR SERVICES */

.our_services_content, .our_services_heading{
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    background: #F7F7F7;
    flex-wrap: wrap;
}

.icons{
    position: relative;
    max-width: 300px;
    min-width: 250px;
    margin: auto 5px 15px 5px;
}

/* .icons img{
    width: 100px;
    height: auto;
} */









/* VIEW YOUR TRANSACTION */

.transaction_form{
    margin: 0% 10%;
}

.transaction_form input{
    width: 350px;
    height: 40px;
}

.transactions_heading{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/logo-sign.svg");
}

.transactions_heading button{
    color: white;
    background: #EF4236;
    width: 150px;
    height: 35px;
    font-size: 1.3em;
    padding-top: 3px;
    font-family: Roboto;
    font-weight: 500;
    margin: 20px 0 5% 10%;
}

.transactions_heading button:hover{
    background: rgb(211, 52, 40);
}









/* FOOTER */

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    border-top: solid 1px #C4C4C4;
}

.footer-child{
    /* width: 10em; */
    margin-left: 5%;
    margin-top: 2%;
    position: relative;
    display: inline-block;
}

.footer-child-img{
    width: 90px;
    padding-top: 1em;
    display: inline-block;
    margin: 2% 3% 0 10%;
}

.footer-child a{
    text-decoration: none;
    /* margin-left: 0%; */
}

.footer-child a:hover{
    text-decoration: underline;
}

.footer-child li{
    list-style-type:none;
    line-height: 2em;
}

.TCs{
    color: rgb(187, 187, 187);
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
    margin: 2%;
    text-align: center;
}




@media (min-width: 768px) and (max-width: 1140px) {

  .footer-child-img{
    /* min-width: 90px;
    padding-top: 1em; */
    display: none;
  }

  .navbar{
    display: none;
  }

  form input {
    display: none;
  }

  form button{
    display: block;
  }

  header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 5;
    margin: 0;
    padding: 3px 3px;
    /* border-bottom: 0.5px solid rgb(172, 171, 171); */
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  }

  hr {
    display: none;
  }
  
  .topnav {
    padding: 0 0px 0 0;
    display: flex;
    /* overflow: hidden; */
  }
  
  .topnav #myLinks {
    display: none;
    /* display: block; */
    position: absolute;
    width: 100%;
    height: auto;
    background: white;
    margin: 73px 0px 0px -113px;
    border-top: 0.5px solid rgb(172, 171, 171);
    text-align: center;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1)
  }
  
  .topnav #myLinks a {
    color: black;
    padding: 8px 0;
    text-decoration: none;
    font-size: 16px;
    display: block;
    font-weight: 400;
    border-top: 0.5px solid rgb(214, 212, 212);
  }
  
  .topnav a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 115px;
    top: 25px;
    font-size: 20px;
  }
  
  .topnav a:hover {
    color: black;
  }
  
  .active {
    background: transparent;
    color: black;
  }

  .logo{
    max-width: 100px;
    margin: 15px auto 12px 10px;
    z-index: 3;
  }

  .cart button{
    padding: 0.5em 0.8em 0em 1em;
    margin-top: 11px;
    margin-left: 0;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background: none;
  }

  .search-container button {
    padding: 7px 7px;
    margin-top: 16px;
    font-size: 18px;
    background: transparent;
  }
  .search-container button:hover {
    background: transparent;
  }

  .banners{
    margin-top: 80px;
  }

  .banners button{
    top: 32%;
  }



}






@media screen and (max-width : 767px){

/* NAVIGATION — MOBILE */

  .navbar{
    display: none;
  }

  form input {
    display: none;
  }

  form button{
    display: block;
  }

  header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 5;
    margin: 0;
    padding: 3px 3px;
    /* border-bottom: 0.5px solid rgb(172, 171, 171); */
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  }

  hr {
    display: none;
  }
  
  .topnav {
    padding: 0 0px 0 0;
    display: flex;
    /* overflow: hidden; */
  }
  
  .topnav #myLinks {
    display: none;
    /* display: block; */
    position: absolute;
    width: 100%;
    height: auto;
    background: white;
    margin: 73px 0px 0px -115px;
    border-top: 0.5px solid rgb(172, 171, 171);
    text-align: center;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1)
  }
  
  .topnav #myLinks a {
    color: black;
    padding: 8px 0;
    text-decoration: none;
    font-size: 16px;
    display: block;
    font-weight: 400;
    border-top: 0.5px solid rgb(214, 212, 212);
  }
  
  .topnav a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 115px;
    top: 25px;
    font-size: 20px;
  }
  
  .topnav a:hover {
    color: black;
  }
  
  .active {
    background: transparent;
    color: black;
  }

  .logo{
    max-width: 100px;
    margin: 15px auto 12px 10px;
    z-index: 3;
  }

  .cart button{
    padding: 0.5em 0.8em 0em 1em;
    margin-top: 11px;
    margin-left: 0;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background: none;
  }

  .search-container button {
    padding: 7px 7px;
    margin-top: 16px;
    font-size: 18px;
    background: transparent;
  }
  .search-container button:hover {
    background: transparent;
  }









/* BODY CONTENT */

    .banners{
        display: none;
    }


    h1 {
        line-height: 1.2;
        font-size: 32px !important;
    }

    h2{
      font-size: 22px !important;
    }

    .heading{
        padding: 3% 3% 0 3%;
    }

    .child{
      padding: 5px;
    }

    .icons{
      max-width: 700px;
    }

    .shop_by_cat_heading {
      margin-top: 80px;
    }

    .transaction_form input{
      width: 300px;
      height: 40px;
      border: 0.5px solid rgb(214, 212, 212);
    }

    .footer{
      margin-bottom: 20px;

  }

  .footer-child-img{
    /* min-width: 90px;
    padding-top: 1em; */
    display: none;
  }

  .footer-child ul{
    /* min-width: 130px;
    max-width: 170px ; */
    margin: 0;
    font-size: 14px;
  }

  .footer-child{
    width: 170px;
    margin: 10px 0 0px 0;
  }

}